
<table>
<div id="<%= dom_id result %>">

    <tr><th><strong>usn:</strong></th><th><strong>course code:</strong></th><th><strong>Cee obtained:</strong></th><th><strong>See obtained:</strong></th><th><strong>course id:</strong></th><th><strong>student id:</strong></th></tr>
    
   <tr>
  <td> 
    <%= result.usn%>
  </td>
  <td> 
    <%= result.course_code%>
  </td> 
  <td> 
    <%= result.cee_obtained%>
  </td>
  <td>
    <%= result.see_obatined%>
  </td>
  <td>
    <%= result.student_id%>
  </td>
  <td>
    <%= result.course_id%>
  </td>
  </tr>
</div>
</table>